body {
    background-color: darkturquoise;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo {
    font-weight: bold;
    color: fuchsia;
}

#nome {
    font-weight: 500;
    color: indigo;
}